doctype html
html(lang="en")
head
	title Melodate
	link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
	link(rel='stylesheet' type="text/css" href="main_style.css")
body
	div.list
		p you're a picky one, aren't you? 🤨
		p#note i'll tell lady luck to be more generous with the next pool!
		form(action="/")
			button.block-button.green-button(type="submit") get new artists ❯❯