doctype html
html(lang="en")
head
	title Melodate
	link(rel='stylesheet' type="text/css" href="main_style.css")
	script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous")
	script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")
	script(type="text/javascript").
		$(function() { 
			var hash = window.location.hash;
			hash && $('ul.nav a[href="' + hash + '"]').tab('show');

			$('.nav-tabs a').click(function (e) {
				$(this).tab('show');
				var scrollmem = $('body').scrollTop();
				window.location.hash = this.hash;
				$('html,body').scrollTop(scrollmem);
			});

			$(".tab-button").click(function() { 
				window.location = $(this).find("a").attr("href"); 
			});
		});
body
	div.header
		p melodate
		img(src="images/logo.svg")
	div.list
		p ready to swipe on a new set of artists? 😈
		p#note this will overwrite your likes, so follow the artists + create a playlist before starting a new session!
		form(action="/")
			button.block-button.green-button(type="submit") swipe again ❯❯
	div.tabs
		div.tab-button.likes(style="color: gray")
			p.icon ♡
			p.tag likes
			a(href="/match")
		div.tab-button.account(style="color: gray")
			p.icon ✿
			p.tag account
			a(href="/account")
		div.tab-button.discover(style="pointer-events: none;")
			p.icon ♬
			p.tag discover