@font-face {
    font-family: "futura";
    src: url("fonts/futura/futura-medium.ttf");
}

html body {
    background-color: #F8F0F0;
    font-family: "futura", Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
    user-select: none;
    height: 100vh;
    width: 100vw;
}

*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}

.swipe {
    position: relative;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.artist-card {
    width: 80vw;
    height: auto;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform-origin: 50% 100%;
    display: block;
    margin: 10rem auto;
}

.artist-card.reset {
    transition: transform 0.3s;
    transform: translateX(0) !important;
}

.artist-card.reset .card-choice {
    transition: opacity 0.3s;
    opacity: 0 !important;
}

.artist-card.inactive {
    transition: transform 0.3s;
}

.artist-card.done {
    display: none;
}

.artist-card.to-left {
    transform: translateX(-30rem) rotate(-30deg) !important;
}

.artist-card.to-right {
    transform: translate(30rem) rotate(30deg) !important;
}

.artist-card.below {
    z-index: 1;
}

.artist-pic {
    width: 80vw;
    height: 42vh;
    background-color: black;
    overflow: hidden;
}

.artist-pic>img {
    display: block;
    height: 50vh;
    transform: scale(150%);
}

.artist-info {
    width: 80vw;
    height: 18vh;
    background-color: white;
    padding: 3rem;
}

.card-choice {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 60vh;
    opacity: 0;
}

.card-choice:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
}

.card-choice:after {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 15rem;
    text-align: center;
    color: white;
    /* hard coding center text */
    margin-top: 20vh;
}

.card-choice.reject {
    background: #C9B1E7;
}

.card-choice.like {
    background: #EBADB8;
}

.card-choice.reject:after {
    content: "✗";
}

.card-choice.like:after {
    content: "♥";
}

.card-drag {
    z-index: 5;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 60vh;
    cursor: grab;
}

.card-title {
    font-weight: bold;
    font-size: 3rem;
}

.card-subtitle {
    color: grey;
    font-size: 2rem;
    padding-bottom: 2rem;
}

.card-text {
    font-size: 2rem;
    color: forestgreen;
}

.artist-name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.bio-btn {
    text-align: center;
    border: none;
    background-color: white;
    padding: 0;
    margin: 0;
    color: grey;
    height: auto;
}

.first-card { 
    transform: translateX(36px) rotate(3.5deg);
}

#top-track {
    font-size: 2rem;
    background-color: #8FCB9B;
    padding: 2rem;
    height: 19vh;
    width: 100%;
    padding: 3rem;
}

.track-info {
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.track-image {
    width: 45%;
    float: left;
    height: auto;
    margin-right: 2rem;
}

.track-player {
    width: 45%;
    float: left;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.track-player>video {
    height: 100px;
    width: 300px;
}

.track-image>img {
    height: 300px;
    width: 300px;
}

@media (min-width: 340px) {
    #top-track {
        font-size: 2rem;
        background-color: #8FCB9B;
        padding: 2rem;
        height: 24vh;
        width: 100%;
        padding: 3rem;
    }
}

.instructions {
    width: 100%;
    height: 60vh;
    background-color: #EFFFF1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid;
    font-size: 3rem;
    padding: 6rem;
}

.instructions>p {
    text-align: center;
    padding: 1rem 0;
}

.playlist-button {
    font-size: 3rem;
    width: 60vw;
    border-radius: 70px;
    padding: 1.5rem 0 1.5rem;
    border: solid 4px;
    background-color: #EFFFF1;
}

.button-card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    font-size: 5rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 3rem;
    height: 12vh;
    background-color: #EBADB8;
    color: white;
}

.header>img {
    display: inline-block;
    height: 120px;
    width: 120px;
}

.header>p {
    display: inline-block;
    width: calc(100vw - 6rem - 120px);
    margin: 0;
    text-decoration: underline;
}

.list-body {
    overflow: scroll;
    margin-bottom: 15rem;
}

.list {
    display: flex;
    flex-direction: column;
    margin: 5rem 10vw;
    padding-bottom: 15rem;
}

.item {
    background-color: white;
    height: auto;
    width: 80vw;
    border: 2px solid gray;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 3rem;
    padding: 2rem;
    border-radius: 30px;
}

.list>form {
    height: auto;
    width: 80vw;
    margin-bottom: 3rem;
}

.item>img {
    height: 120px;
    width: 120px;
    margin-right: 2rem;
}

.tabs {
    height: 10vh;
    width: 100vw;
    background-color: #E2DCCD;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 90vh;
}