include mixins/_card
doctype html
html(lang="en")
head
	title Spinder
	link(rel='stylesheet' type="text/css" href="html/main_style.css")
	link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
	script(type="text/javascript" src="https://kit.fontawesome.com/d9b87cbfce.js")


body
	div.swipe
		div.artist-card.button-card
			form(action="/profile")
				button.playlist-button(type="submit") lesgooo →
		div.artist-card.last-card
			div.instructions
				p woo! ready to see your matches? 💟
			div.card-drag
		each artist in artists
			+card(artist)
		div.artist-card.first-card
			div.instructions
				p swipe right if the artist catches your eye 😉
				p swipe left if they don't ❌
				p tap the card to see their top track 🎶
				p ------------------
				p swipe to start, cutie!
			div.card-drag

	
footer
	script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous")
	script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")
	script(type="module" src="home.js")